.header__title {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  color: #F6C866;
  max-width: 500px;
  margin: 1px auto 65px;
}


@media screen and (max-width: 600px) {
  .header__title {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 22px;
  }
}
