.question__img {
  margin: 0 auto;
  width: 56px;
  height: 17px;
}

.question__img:first-of-type {
  margin-top: 115px;
}

.question__img:last-of-type {
  width: 56px;
  height: 18px;
}

@media screen and (max-width: 600px) {
  .question__img {
    width: 32px;
    height: 10px;
  }
  .question__img:first-of-type {
    margin-top: 63px;
  }
  .question__img:last-of-type {
    width: 32px;
    height: 10px;
  }
}
